  <footer>
        <p>CRUD | Desafio Final Bootcamp Gama Academy - HSU | Desenvolvido por <a href="https://www.github.com/martinembon" target="blank">Martin Embon</a>© 2021</p>
    </footer>

</div>

<script src="/javascript/form.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
<script type="text/javascript">(function() {emailjs.init("user_r6K1j95WsgS5KesJHUScn");})();
</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>