<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheet/styles.css">
  <script src="https://kit.fontawesome.com/fb10d770ed.js" crossorigin="anonymous"></script>    

  <title><%= title %> </title>
</head>
<body>

  <div class="container">

    <nav>

      <a href="/">
        <div class="logo">
          <img src="/images/logo-gama.png" alt="">
        </div>
      </a>              

      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/admin">Painel Adm</a></li>
        <li><a href="/cursos">Listar Cursos</a></li>        
      </ul>
    </nav>
