<%- include('./partials/__header'); %>

    <main>         
      
      <div class="cadastro" id="desafio">
        <h2 class="heading_cadastro">Cadastro de cursos</h2>        
        <p class="cadastro_curso">Por favor, complete o formulario de cadastro.</p>
      </div>      
      
      <section class="form-container">
      
        <form id="cadastro-form" class="form-cadastro-curso" action="/cadastro" method="POST" enctype="multipart/form-data">                
            <label for="nome">Título</label>
            <input type="text" required name="nome" id="nome">            

            <label for="professor">Professor</label>
            <input type="text" required name="professor" id="professor">
            
            <label for="aulas">Lista de aulas</label>
            <input type="text" required name="aulas" id="aulas">

            <label for="descricao">Descrição</label>
            <textarea name="descricao" required id="descricao"></textarea>

            <label for="ilustracao">Imagem</label>
            <input type="file" required name="ilustracao" id="ilustracao">

            <button type="submit">Cadastrar</button>
        
          </form>
      </section>
    </main>
    
    <%- include('./partials/__footer'); %>