<%- include('./partials/__header'); %>

    <main>         
      
      <div class="cadastro" id="desafio">
        <h2 class="heading_cadastro">Cadastro de cursos</h2>        
        <p class="cadastro_curso">Por favor, complete o formulario de cadastro.</p>
      </div>      
      
      <section class="form-container">
      
        <form class="form-cadastro-curso" action="" method="POST" enctype="">                
            <label for="nome">Título</label>
            <input type="text" name="nome" id="nome" required>            

            <label for="preco">Professor</label>
            <input type="number" name="preco" id="preco" required>
            
            <label for="preco">Lista de aulas</label>
            <input type="number" name="preco" id="preco" required>

            <label for="descricao">Descrição</label>
            <textarea name="descricao" id="descricao" required></textarea>

            <label for="ilustracao">Imagem</label>
            <input type="file" name="ilustracao" id="ilustracao">

            <button type="submit">Cadastrar</button>
        
          </form>
      </section>
    </main>
    
    <%- include('./partials/__footer'); %>