<%- include('./partials/__header'); %>

    <main class="home-page">         
      
        <div class="cadastro" id="desafio">
          <h2 class="heading_cadastro">Instruções Desafio Bootcamp HSM</h2>
          <p class="text_cadastro"><span class="bolinha">1</span>Ingresse a <a href="/admin">painel de administração.</a></p>
          <p class="text_cadastro"><span class="bolinha">2</span>Adicione um novo cadastro. Se já houver um registro, pode edita-lo ou exclui-lo.</p>
          <p class="text_cadastro"><span class="bolinha">3</span>Finalmente, click em <a href="/cursos">lista de cursos</a> para renderizar os cursos salvos.</a></p>
          <img loading="lazy" src="images/icons.png" alt="">
        </div>      
      
        <div class="main_banner" id="main">
          <div class="texto">
            <h1 class="heading_main">Sobre Martin</h1>
            <p class="text_main">Venho me-preparando faz quase um ano para minha transição desde administração de restaurantes para TI com certificações em <b>Full Stack</b> e bootcamps.  Sou uma pessoa ultra autodidata e o que não sei, <u>aprendo rápido.</u><br><br> 
              Meus conhecimentos incluem HTML, CSS, e JS.  Atualmente estou aprimorando skills em react.  Realicei varios estudos e projetos com <em>banco de dados</em> em MySQL, MongoDB e DynamoDB e fiz o <u>Cloud Practitioner da AWS</u> e terminei entre os 300 finalistas
              (iniciamos 10 mil participantes!!) do hiring coders, bootcamp da VTEX e parceiros organizado pela <strong>Gama Academy</strong>. 
              Ah! falo inglês, francês e português :)</p>          
          </div>  
            <div class="main_img">
              <img src="/images/FotoMartin.jpg" alt="foto-Martin">
            </div>
          
        </div><!--main_banner-->
      
    </main>

    <section class="contato" id="contato">
      
      <div class="info2">
        <h1 class="duvida">DÚVIDAS? ENTRE EM CONTATO!</h1>
      </div><!--info-->

      <div class="form-contato">          
              <form id="form" method="POST">                                         
                  <input placeholder="Nome" type="text" id="name" name="name">                 
                  <input placeholder="Email" type="email" id="email" name="email">                 
                  <textarea placeholder="Mensagem" name="message" id="message"></textarea>
                  <button type="submit" class="btn">enviar</button>
              </form>
        </div>
  
          <div class="info">
                 <h1 class="duvida">DÚVIDAS? ENTRE EM CONTATO!</h1>
          </div><!--info-->
          
  
  </section>  
    
  
    
    <%- include('./partials/__footer'); %>