<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheet/styles.css">
  <title>Document</title>
</head>
<body>

  <div class="container">

    <nav>

      <a href="#">
        <div class="logo">
          <img src="/images/logo-gama.png" alt="">
        </div>
      </a>              

      <ul>
        <li><a href="#">CRUD DESAFIO</a></li>
        <li><a href="#main">Sobre Martin</a></li>
        <li><a href="#contato">Contato</a></li>        
      </ul>
    </nav>

    <main>
      
        <div class="cadastro">
          <h2 class="heading_cadastro">CRUD Desafio Bootcamp HSM</h2>
          <p class="text_cadastro">Acreditamos que o ensino tradicional não prepara os profissionais para o mercado de tecnologia, e que talentos qualificados são formados por habilidades, aprendizados e experiências reais criadas em comunidade. Preparamos profissionais com as habilidades necessárias para o mercado digital, norteados pela necessidade e busca das empresas, de forma ágil e acessível.</p>
          <img loading="lazy" src="images/icons.png" alt="">
        </div>      

      
        <div class="main_banner" id="main">
          <div class="texto">
            <h1 class="heading_main">Sobre Martin</h1>
            <p class="text_main">Acreditamos que o ensino tradicional não prepara os profissionais para o mercado de tecnologia, e que talentos qualificados são formados por habilidades, aprendizados e experiências reais criadas em comunidade. Preparamos profissionais com as habilidades necessárias para o mercado digital, norteados pela necessidade e busca das empresas, de forma ágil e acessível.</p>          
          </div>  
            <div class="main_img">
              <img src="/images/FotoMartin.jpg" alt="foto-Martin">
            </div>
          
        </div><!--main_banner-->
      
    </main>
    
    <section class="contato" id="contato">

      <div class="form-contato">          
              <form method="POST">                                         
                  <input placeholder="Nome" type="text" id="nome" name="nome" required>                 
                  <input placeholder="Email" type="email" id="email" name="email" required>                 
                  <textarea placeholder="Mensagem" name="mensagem" id="mensagem" required></textarea>
                  <button type="submit" class="btn btn-primary">enviar</button>
              </form>
        </div>

          <div class="info">
                 <h1 class="duvida">DÚVIDAS? ENTRE EM CONTATO</h1>
          </div><!--info-->
          

  </section>  
    
    <footer>
        <p>desenvolvido por Martin</p>
      </footer>
  
  </div>
</body>
</html>