<%- include('./partials/__header'); %>

    <main>         
      
      <div class="cadastro" id="desafio">
        <h2 class="heading_cadastro">Lista de cursos cadastrados</h2>        
      </div>      

      <section class="cursos">            
            
            <div class="curso">
                <div class="curso-imagen">                   
                    <img src="images/mario.png" alt="">
                </div> <!--curso-imagen-->
                
                <div class="nome-curso">
                    <h3>Detalhes do curso</h3>  
                    <p>Id: 1</p>
                    <p>Titulo: Sertanejo</p>
                    <p>Descricao: Para toda la familia</p>
                    <p>Profesor: Dr. Pedro</p>
                    <p>Aulas: Intro a programacion</p>                    
                </div> <!--nome-curso-->
            </div>  <!--curso-->          

            <div class="curso">
                <div class="curso-imagen">                   
                    <img src="images/mario.png" alt="">
                </div> <!--curso-imagen-->
                
                <div class="nome-curso">
                    <h3>Detalhes do curso</h3>  
                    <p>Id: 1</p>
                    <p>Titulo: Sertanejo</p>
                    <p>Descricao: Para toda la familia</p>
                    <p>Profesor: Dr. Pedro</p>
                    <p>Aulas: Intro a programacion</p>                    
                </div> <!--nome-curso-->
            </div>  <!--curso-->          
            
            <div class="curso">
                <div class="curso-imagen">                   
                    <img src="images/mario.png" alt="">
                </div> <!--curso-imagen-->
                
                <div class="nome-curso">
                    <h3>Detalhes do curso</h3>  
                    <p>Id: 1</p>
                    <p>Título: Sertanejo</p>
                    <p>Descrição: Para toda la familia</p>
                    <p>Professor: Dr. Pedro</p>
                    <p>Aulas: Intro a programacion</p>                    
                </div> <!--nome-curso-->
            </div>  <!--curso-->          
        
          </section>
        
    </main>
    
    <%- include('./partials/__footer'); %>